@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
.contendor-principal-app {
  min-height: 100vh;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo-principal-app {
  text-align: center;
  font-family: "Roboto,sans-serif";
  font-size: 3rem;
  color: lightsalmon;
  display: block;
  filter: drop-shadow(1px 2px 1px gray);
}
.formulario-carga-imagenes-app {
  height: 400px;
  width: 600px;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.contendor-imagen-app {
  margin: 1%;
  min-height: 60%;
  height: 60%;
  min-width: 30%;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.contendor-imagen-app-efecto-entrante {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/* flex */
.imagen-app {
  height: 80%;
  display: flex;
  flex-direction: row;
}
.etiqueta-app{
  background-color: lightsalmon;
  color: white;
  height: 20%;
  justify-content: center;
  align-items: center;

}
input[type="file"]{
  display: none;

}
.contenedor-botones-app{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-color: rgba(211, 211, 211, 0.281);
}
.boton-app{
  background-color: lightsalmon;
  border: 1px solid white;
  height: 20px;
  width: 100%;
 
  color: white;
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #e41111;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

